@import url('https://fonts.googleapis.com/css?family=Abel|Libre+Franklin');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
	font-family: 'Libre Franklin';
	background-color:#8630E4;
	max-width:100%;
	overflow-x:hidden;
}

footer {
	background-color:#FF8B24;
	height:0;
	width:0;
	visibility:hidden;
	margin:auto;
	bottom:0;
}
h1{
	position:center;
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
	color:#FFF;
	font-size:60px;
	font-weight:900;
}

h2{
    position:relative;
	margin: 40px 0 40px 0;
	text-align:center;
	color:#FFF;
	font-size:60px;
	font-weight:900;
}
 
.text-wrapper{
	width:65%;
	margin:auto;
}

p{
	position:center;
	color:#FFF;
	margin:auto;
	text-align:center;
	font-weight:normal;
}

b{
	color:#67F2FF;
	font-weight:900;
}

.icon-row{
    padding-top:40px;
	text-align:center;	
	position:center;
}

.icon-row a{
	color:#FFF;
}
.icon-row a:hover{
	color:#67F2FF;
	transition:0.5s;
}
.icon-row-2{
    padding-top:10px;
	text-align:center;	
	position:center;
}

.icon-row-2 a{
	margin:5px;
	color:#FFF;
}

.icon-row-2 a:hover{
	color:#993630;
	transition:0.5s;
}
.navbar{
	z-index:1000;
	background-color:#FF8B24;   	
	-webkit-box-shadow: 0 0px 0px 1px black;
	top:0;
	left:0;
	position:fixed;
	width:180px;
	padding-top:65px;
	overflow:hidden;
	height:100%;
}

.navbar a{
	float:left;
	width:100%;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;	
	text-decoration:none;
	font-size:18px;
}

.navbar-nav li span a{
	float:left;
	width:33%;
	color:#FFF;
	padding:15px 0.3px;
	text-decoration:none;
	font-size:15px;
}

.open-slide a{
	padding:12px 10px;
	width:auto;
	margin:auto;
	position:fixed;
}

.navbar ul li {
	display:inline;
}
.navbar ul{
	text-align:center;
	margin:0;
	padding-left:0;
	width:100%;
	list-style:none;
}

.navbar a:hover {
	background-color:#993630;
	color:#FFF;
	transition:0.5s;
}

.side-nav{
	height:0;
	width:100%;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.95;
	overflow:hidden;
	text-align:center;
	transition:0.5s;
}

.side-nav a{
	padding:8px;
	text-decoration:none;
	font-size:15px;
	color:#ccc;
	display:block;
	transition:0s;
}

.side-nav a:hover {
	color:#67F2FF;
}

.container {  
	z-index:0;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0;
	margin-left:91px;
}

#about-main {
	z-index:0;
	position:center;
	overflow:hidden;
	margin:50px auto;
	width:100%;
	transition:0.5s;
}

.slider-wrap {
	border-radius:3%;
	border: 6px solid #FFF;
	height:240px;
	width:240px;
	margin:auto;
	position:center;
}


.me-slider {
	border-radius:2%;
	overflow-x:scroll;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder {
	width:200%;
}

.slide {
	float:left;
	width:240px;
	height:240px;
	background-position:center;
}

.slider-wrap-2 {
	border-radius:50%;
	border: 5px solid #FFF;
	height:135px;
	width:135px;
	margin:10px auto;
	position:center;
}

.me-slider-2 {
	border-radius:50%;
	overflow-x:scroll;
	overflow:hidden;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder-2 {
	width:200%;
	overflow:hidden;
}
.slide-2 {
	float:left;
	width:135px;
	height:135px;
	background-position-y: -30px;
	background-position-x: center;
}
.slide-3 {
	height:240px;
	width:240px;
	background-position-y: -5.8px;
	background-position-x: center;
}
.slider-wrap-3 {
	border-radius:50%;
	-webkit-box-shadow: 0 3px 0px 1px black;
	border: 0px solid #FFF;
	height:240px;
	width:240px;
	margin: auto;
	position:center;
}
.me-slider-3 {
	border-radius:50%;
	overflow-x:scroll;
	overflow:hidden;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder-3 {
	width:200%;
	overflow:hidden;
}

#slide-0 {
	background-image: url('../images/header-image/myportrait4.png');
}

#slide-1 {
	background-image: url('../images/header-image/myportrait2.png');
}

#slide-2 {
	background-image: url('../images/myucsd.png');
	background-size: 268px;
}

#work-main {
	z-index:0;
	background-color:#8630E4;
	position:center;
	overflow:hidden;
	width:100%;
	height:100%;
	margin: auto;
	transition:0.5s;
}

.work-items {
	z-index:1;
	padding-bottom:30px;
	height:70vw;
	width:100%;
}

button {
	background-color: #67F2FF; /* Green */
	-webkit-box-shadow: 0px 0.5px 0.5px 0px black;
	border: none;
	color: white;
	margin-top:8px;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.flipper {
	-webkit-box-shadow: 0px 2px 1px 0px black;
	background-color: #FFF;
	border-radius:3%;
	margin:auto;
	height:72vw;
	width:85vw;
	overflow-x:hidden;
}

.flipper img{
	width:100%;
	height:87%;
	transition:0.5s;
}

.caption {
	width:80%;
	margin:auto;
	position:center;
	text-align:center;
	color:black;
}
.caption a{
	color:white;
	-webkit-box-shadow: 0px 1px 3px 0px black;
	padding:12px 18px;
	background-color: #67F2FF;
	text-decoration: none;
}

.caption p {
	color:black; 
	font-weight:900;
	margin-top:3%;
	padding-bottom:10px;
}

.caption a:hover{
	-webkit-box-shadow: inset 0 0 0px black;

}

.caption b{
	color:#993630;
	font-weight:10000;
}

#projects-main {
	z-index:0;
	background-color:#8630E4;
	position:center;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:50px auto;
	transition:0.5s;
}

.project-items {
	margin:auto;
	padding-bottom:30px;
	width:100%;
	float:left;
}

#education-main {
	z-index:0;
	background-color:#8630E4;
	position:center;
	overflow:hidden;
	width:100%;
	height:100%;
	margin: auto;
	transition:0.5s;
}

@media(max-width:730px) {
	footer {
		visibility:visible;
		height:250px;
		width:100%;
	}
	.navbar-nav{
		display:none;
	}
	.navbar {
			z-index:1000;
			background-color:#FF8B24;   	
			-webkit-box-shadow: 0 0px 0.5px 1px black;
			top:0;
			left:0;
			position:fixed;
			width:100%;
			padding-top:0;
			overflow:hidden;
			height:61px;
	}
	.navbar a{
		display:inline-block;
		color:#FFF;
		padding:19px 26px 17px;
		text-decoration:none;
		font-size:19px;
	}
	.container {  
		z-index:0;
		overflow:hidden;
		width:100%;
		height:100%;
		margin:0;
		padding:0px;
		position:center;
	}
	.slide {
		float:left;
		width:240px;
		height:240px;
		background-position:center;
	}
	
	.slideholder:hover .slide{
		transform: none;
	}
	
	.text-wrapper{
		width:95%;
		margin:auto;
	}
}

@media(min-width:730px) {

	.flipper{
		-webkit-box-shadow: 0px 2px 1px 0px black;
		background-color: #FFF;
		z-index:5;
		margin:auto;
		height:55vw;
		width:65vw;
		overflow-x:hidden;
	}
	.caption p{
		margin-top:5%;
	}
	.work-items {
		z-index:1;
		padding:30px;
		padding-left:0;
		height:55vw;
		width:100%;
	}
	.project-items {
		z-index:1;
		padding:30px;
		padding-left:0;
		height:55vw;
		width:100%;
	}
	.open-slide{display:none}
	.desktop-only {
		display:block !important;
	} 
	.mobile-only {
		display:none !important;
	}
}

@media(min-width:1000px) {
	.flipper {
		-webkit-box-shadow: 0px 2px 1px 0px black;
		background-color: #FFF;
		z-index:5;
		margin:none;
		height:30vw;
		width:35vw;
		overflow-x:hidden;
	}
	.work-items {
		display:inline-block;
		text-align:center;
		margin:none;
		z-index:1;
		height:30vw;
		width:100vw;
	}
	.project-items {
		text-align:center;
		padding-left:11.8%;
		margin:none;
		z-index:1;
		height:30vw;
		width:25vw;
	}
}

@media(min-width:1190px) {
	.project-items {
		padding-left:12.2%;
	}
}

.active {
	background-color:#993630;
	color:#FFF;
}
