@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    font-family:"Muli", sans-serif;
    background-color:#FFF;
    max-width:100%;
    overflow-x:hidden;
}

.navbar{
    background-color:#7CDBD5;   
    width:100%;
    overflow-x:hidden;
    height:63px;
}

.navbar a{
    float:left;
    display:block;
    color:#FFF;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
}

.navbar a:hover{
    background-color:#02C8A7;
    color:#FFF;
    transition:0.5s;
}

.side-nav{
    height:100%;
    width:0px;
    position:fixed;
    z-index=1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:71px;
    transition:0.5s;
}

.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0s;
}

.side-nav a:hover{
    background-color:#FFF;
    color:#7CDBD5;
}

.container {  
    overflow-x:hidden;
    width:100%
    position:relative;
    top: 7vh;
}

#main {
    top:0;
    position:center;
    padding:20px;
    overflow:hidden;
    width:100%;
    transition:0.5s;
}

.slider-wrap {
    border-radius:50%;
    border: 5px solid #7CDBD5;
    width: px;
    height:240px;
    width:240px;
    margin: auto;
}

.me-slider {
    border-radius:50%;
    overflow-x:scroll;
}
::-webkit-scrollbar { 
    display: none; 
}

.slideholder {
    width:200%;
}

.slide {
    float:left;
    width:240px;
    height:240px;
    background-position:center;
    position:relative;
}

#slide-0 {
    background-image: url('../images/header-image/myportrait2.png');
}

#slide-1 {
    background-image: url('../images/header-image/myportrait4.png');
}

@media(max-width:650px) {
    .navbar-nav{display:none}
    .mobile-only {
	display:block;
    } 
    .desktop-only {
	display:none !important;
    }
}
@media(min-width:650px) {
    .desktop-only {
	display:block !important;
    } 
    .mobile-only {
	display:none !important;
    }
}
