@import url('https://fonts.googleapis.com/css?family=Abel|Libre+Franklin');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
	font-family: 'Libre Franklin';
	background-color:#8630E4;
	max-width:100%;
	overflow-x:hidden;
}

h1{
	position:center;
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
	color:#FFF;
	font-size:60px;
	font-weight:900;
}

h2{
    position:relative;
	margin: 40px 0 40px 0;
	text-align:center;
	color:#FFF;
	font-size:60px;
	font-weight:900;
}
 
.text-wrapper{
	width:65%;
	margin:auto;
}

p{
	position:center;
	color:#FFF;
	margin:auto;
	text-align:center;
	font-weight:normal;
}

b{
	color:#67F2FF;
	font-weight:900;
}

.icon-row{
    padding-top:40px;
	text-align:center;	
	position:center;
}

.icon-row a{
	color:#FFF;
}

.navbar{
	z-index:3;
	background-color:#FF8B24;   	
	-webkit-box-shadow: 0 0px 0px 1px black;
	top:0;
	left:0;
	position:fixed;
	width:180px;
	padding-top:65px;
	overflow:hidden;
	height:100%;
}

.navbar a{
	float:left;
	width:100%;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;	
	text-decoration:none;
	font-size:18px;
}

.navbar-nav li span a{
	float:left;
	width:33%;
	color:#FFF;
	padding:15px 0.3px;
	text-decoration:none;
	font-size:15px;
}

.open-slide a{
	padding:12px 10px;
	width:auto;
	margin:auto;
	position:fixed;
}

.navbar ul li {
	display:inline;
}
.navbar ul{
	text-align:center;
	margin:0;
	padding-left:0;
	width:100%;
	list-style:none;
}

.navbar a:hover {
	background-color:#993630;
	color:#FFF;
	transition:0.5s;
}

.side-nav{
	height:0;
	width:100%;
	position:fixed;
	z-index:4;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.95;
	overflow:hidden;
	text-align:center;
	transition:0.5s;
}

.side-nav a{
	padding:8px;
	text-decoration:none;
	font-size:15px;
	color:#ccc;
	display:block;
	transition:0s;
}

.side-nav a:hover {
	color:#67F2FF;
}

.container {  
	z-index:0;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0;
	margin-left:100px;
}

#about-main {
	z-index:0;
	position:center;
	overflow:hidden;
	margin:50px auto;
	width:100%;
	transition:0.5s;
}

.slider-wrap {
	border-radius:50%;
	border: 6px solid #FFF;
	height:240px;
	width:240px;
	margin:auto;
	position:center;
}


.me-slider {
	border-radius:50%;
	overflow-x:scroll;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder {
	width:200%;
}

.slide {
	float:left;
	width:240px;
	height:240px;
	background-position:center;
	transform: translateX(0);
	transition: 1s;
}

.slideholder:hover .slide{
	transform: translateX(-241px);
}

.slider-wrap-2 {
	border-radius:50%;
	border: 5px solid #FFF;
	height:135px;
	width:135px;
	margin:10px auto;
	position:center;
}

.me-slider-2 {
	border-radius:50%;
	overflow-x:scroll;
	overflow:hidden;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder-2 {
	width:200%;
	overflow:hidden;
}
.slide-2 {
	float:left;
	width:135px;
	height:135px;
	background-position-y: -30px;
	background-position-x: center;
}

#slide-0 {
	background-image: url('../images/header-image/myportrait4.png');
}

#slide-1 {
	background-image: url('../images/header-image/myportrait2.png');
}

#work-main {
	z-index:0;
	background-color:#8630E4;
	position:center;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:50px auto;
	transition:0.5s;
}

.work-items {
	text-align:center;
	height:100%;
	width:100%;
}

.flipper {
	float:center;
	background-color:transparent;
	padding-bottom:10%;
	margin:auto;
	width:310px;
	height:280px;
	perspective: 1000px;
}

.flipper-inner {
	-webkit-box-shadow: 0 3px 5px 0px black;
	position:relative;
	height:100%;
	width:100%;
	text-align:center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flipper:hover .flipper-inner {
	transform: rotateY(-180deg);
}

.flipper-outer, .flipper-back {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
}

.flipper-outer {
	background-color: #FFF;
	color:white;
}

.caption {
	position:relative;
	color:black;

}
.flipper-back {
	background-color: #FFF;
	color:white;
	transform:rotateY(-180deg);
}

#projects-main {
	z-index:0;
	background-color:#8630E4;
	position:center;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:50px auto;
	transition:0.5s;
}


#carousel-wrapper {
	background-color:#993630;
	border-top: 1px solid #532;
	border-bottom:1px solid #532;
	width:100%;
	height:200px;
	margin:auto;
	-webkit-box-shadow: 0 0px 5px 1px black;
}

.caroufredsel_wrapper {
	margin-top:-25px !important;
	padding-top:20px !important;
	padding-bottom:20px !important;
}

#carousel {

}

#carousel div{
	float:left;
	width:290px;
	height:150px;
}

#carousel img {
	border:none;
	position:relative;
	box-shadow:0 0 10px #000;
}

#carousel-nav {
	width:520px;
	margin:auto;
}

#next {
	float:right;
}

#prev, #next {
	text-decoration:none;
	color:#b98;
}

#prev:hover, #next:hover {
	text-decoration:none;
	color:#FFF;
}

#prev.disabled, #next.disabled {
	color:#865;
	cursor:default;
}

@media(max-width:730px) {
	.navbar-nav{
		display:none;
	}
	.navbar {
			z-index:3;
			background-color:#FF8B24;   	
			-webkit-box-shadow: 0 0px 0.5px 1px black;
			top:0;
			left:0;
			position:fixed;
			width:100%;
			padding-top:0;
			overflow:hidden;
			height:61px;
	}
	.navbar a{
		display:inline-block;
		color:#FFF;
		padding:19px 26px 17px;
		text-decoration:none;
		font-size:19px;
	}
	.container {  
		z-index:0;
		overflow:hidden;
		width:100%;
		height:100%;
		margin:0;
		padding:0px;
		position:center;
	}
	.text-wrapper{
		width:95%;
		margin:auto;
	}
}

@media(min-width:730px) {
	.open-slide{display:none}
	.desktop-only {
		display:block !important;
	} 
	.mobile-only {
		display:none !important;
	}

}


@media(min-width:780px) {
	.work-items{padding-left:13%;width:90%;}
	.flipper{padding: 0 2% 5%;float:left;}
}

@media(min-width:1190px) {
	.work-items{padding-left:7%;}
}
