@import url('https://fonts.googleapis.com/css?family=Abel|Libre+Franklin');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
	font-family:'Abel', sans-serif;
	background-color:#FFF;
	max-width:100%;
	overflow-x:hidden;
}

h1{
	position:center;
	margin-top:20px;
	margin-bottom:40px;
	text-align:center;
	color:#c4242d;
	font-size:70px;
}

.text-wrapper{
	max-width:65%;
	margin:auto;
	position:center;
}

p{
	position:center;
	margin:auto;
	padding-left:6%;
	text-align:left;
	font-weight:normal;
}

b{
	color:#c4242d;
	font-weight:900;
}

.icon-row{
        padding-top:40px;
	text-align:center;	
	position:center;
}

.icon-row a{
	color:#c4242d;
}

.navbar{
	background-color:#c4342d;   	
	-webkit-box-shadow: 0 3px 5px -1px black;
	top:0;
	left:0;
	position:fixed;
	width: 100%;
	overflow:hidden;
	height:55px;
}

.navbar a{
	display:inline-block;
	color:#FFF;
	padding:19px 26px 20px;
	text-decoration:none;
	font-size:18px;
}

.open-slide a{
	padding:12px 16px 11px;
	position:fixed;
}

.navbar ul li {
	display:inline;
}
.navbar ul{
	text-align:center;
	margin:0;
	padding-left:0;
	width: 100%;
	list-style:none;
}

.navbar a:hover {
	background-color:#993630;
	color:#FFF;
	transition:0.5s;
}

.side-nav{
	height:100%;
	width:0px;
	position:fixed;
	z-index=1;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.85;
	overflow-x:hidden;
	padding-top:58px;
	transition:0.5s;
}

.side-nav a{
	padding:10px 10px 10px 30px;
	text-decoration:none;
	font-size:19px;
	color:#ccc;
	display:block;
	transition:0s;
}

.side-nav a:hover {
	background-color:#FFF;
	color:#c4342d;
}

.container {  
	overflow:hidden;
	width:100%;
	margin:0;
	position:center;
}

#main {
	position:center;
	overflow:hidden;
	margin:50px auto;
	width:100%;
	transition:0.5s;
}

.slider-wrap {
	border-radius:50%;
	border: 7px solid #c4342d;
	height:240px;
	width:240px;
	margin:auto;
	position:center;
}

.me-slider {
	border-radius:50%;
	overflow-x:scroll;
}
::-webkit-scrollbar { 
	display: none; 
}

.slideholder {
	width:200%;
}

.slide {
	float:left;
	width:240px;
	height:240px;
	background-position:center;
}

#slide-0 {
	background-image: url('../images/header-image/myportrait2.png');
}

#slide-1 {
	background-image: url('../images/header-image/myportrait4.png');
}

@media(max-width:630px) {
	.navbar-nav{display:none}
}

@media(min-width:630px) {
	.open-slide{display:none}
	.desktop-only {
		display:block !important;
	} 
	.mobile-only {
		display:none !important;
	}
}
